@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

body {
  margin: 0;
  /* height: 100%; */
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
  box-sizing: border-box;
}

/* Убераем скрытый текст */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Стилизация главной страницы */
.page-header {
  color: #000000;
  background-color: #FFFFFF;
}

/* Навигация */
.navigation {
  display: flex;
  margin: 0 auto;
  padding: 0 70px;
}

.logo {
  margin: 0;
  padding: 0;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  /* ширина по макету 339 +добавил ширину элемента Гостиницы 125, итого  464*/
  width: 464px;
}

.navigation-user {
  display: flex;
  flex-direction: wrap;
  margin: 0;
  padding: 0;
  max-width: 268px;
  list-style: none;
  margin-left: auto;
}


.navigation-link {
  display: block;
  padding: 20px 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
}

.navigation-user-link {
  display: block;
  padding: 22px 12px;
}

.signin {
  margin: 14px 0 14px 20px;
  display: block;
  padding: 8px 34px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #756157;
  text-align: center;
  text-decoration: none;
}

/* блок hero*/
.hero {
  background-image: url("../images/hero-background.jpg");
  background-color: #C7D8E3;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 69px;
}

.hero-img {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 82px;
}

/* блок main */
.main-container {
  width: 1200px;
  margin: 0 auto;
  flex-grow: 1;
}

/* блок advantages */

.main-title {
  padding: 0 290px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #FFFFFF;
  margin-bottom: 25px;
}

.main-description {
  padding: 0 274px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin-bottom: 90px;
}


.advantages-list {
  display: flex;
  /* width: 1200px; */
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 64px;
}

.advantages-item-left-block,
.advantages-item-right-block {
  color: #FFFFFF;
  background-color: #82B3D3;
  width: 400px;
}

.advantages-item-side {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
}

.advantages-item-center {
  color: #333333;
  background-color: rgba(131, 179, 211, 0.2);
  width: 400px;
}

.advantages-item {
  display: flex;
}

.blog-article-img {
  margin: 0;
  padding: 0;
}

.advantages-item-with-img {
  display: flex;
}

.advantages-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  padding: 0 114px;
  margin-top: 102px;
  margin-bottom: 62px;
}

.advantages-title-center {
  font-family: inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  padding: 0 140px;
  margin-top: 112px;
  margin-bottom: 62px;
}

.advantages-description {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  padding: 0 85px;
  margin-bottom: 102px;
}

.advantages-description-center {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  padding: 0 85px;
  margin-bottom: 112px;
}

/* блок services */
.services {
  margin-bottom: 96px;
}

.service-title {
  padding: 0 347px;
  margin-bottom: 20px;
}

.service-description {
  margin-bottom: 64px;
}

.services-list {
  margin: 0 auto;
  display: flex;
  /* justify-content: space-between; */
  list-style: none;
}

.services-name {
  margin-top: 183px;
  margin-bottom: 30px;
}

.services-item {
  width: 400px;
}

.services-item-img {
  display: block;
  margin: 0 auto;
}

.services-item-description {
  padding: 0 85px;
  margin-bottom: 81px;
}

.services-item-1 {
  background-image: url("../images/services/housing.svg");
  background-size: 75px 72px;
  background-repeat: no-repeat;
  margin: 0 auto;
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
}

.services-item-2 {
  background-image: url("../images/services/food.svg");
  background-size: 74px 70px;
  background-repeat: no-repeat;
  margin: 0 auto;
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
}

.services-item-3 {
  background-image: url("../images/services/souvenirs.svg");
  background-size: 75px 72px;
  background-repeat: no-repeat;
  margin: 0 auto;
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
}

.service-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.service-description {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  margin-bottom: 102px;
}

.services-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.services-item-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

/* Блок поиска гостиницы */
.hotels-find {
  /* width: 592px; */
  margin: 0 auto;
}

.hotels-find-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.hotels-find-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  padding: 0 304px;
  margin-bottom: 54px;
}

.hotels-find-button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  background-color: #756157;
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 8px 50px;
  cursor: pointer;
  margin-bottom: 96px;
}

/* Блок подписки на рассылку */
.subscribe {
  background-image: url("../images/subscribe.jpg");
  background-color: #C7D8E3;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  margin-bottom: 45px;
}

.subscribe-title {
  padding-top: 96px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.subscribe-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  padding: 0 362px;
  margin-bottom: 54px;
}

.subscribe-button {
  width: 232;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  cursor: pointer;
}

.subscribe-block {
  display: block;
  margin: 0 auto;
  padding-bottom: 104px;
}

.subscribe-field {
  width: 684px;
  height: 52px;
}

/* Стилизация подвала */
.page-footer {
  display: flex;
  /* width: 1060px; */
  justify-content: space-between;
  margin: 0 auto;
}

.footer-social-list {
  padding: 0;
  list-style: none;
  width: 142px;
}

.footer-contacts {
  width: 720px;
}

.htmlacademy-link {
  width: 115px;
}

.footer-contacts {
  text-align: center;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  font-style: normal;
  color: #000000;
}

/* Стилизация каталога */
.inner-header {
  background-image: url("../images/catalog/background-find-hotels.jpg");
  background-color: #C7D8E3;
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  padding: 0 70px;
  margin-bottom: 56px;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
  margin: 0;
  padding-top: 35px;
}

.breadcrumbs {
  display: flex;
}

.breadcrumbs-item {
  list-style: none;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  cursor: pointer;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  list-style: none;

}

.control {
  cursor: pointer;
}

.button-submit {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  cursor: pointer;
}

.button-reset {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
}

/* Стилизацация фильтра */
.find-hotels-line {
  display: flex;
  margin: 0 70px;
  margin-bottom: 46px;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.find-hotels {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 46px;
}

/* Стилизация карточек */
.product-list {
  margin: 0 70px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
}

.product-list:nth-child(3n) {
  column-gap: 0;
}

.product-card {
  text-decoration: none;
  list-style: none;
  width: 340px;
  border: 1px solid #E6E6E6;
  margin-bottom: 80px;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  padding: 0 20px;
  margin-bottom: 16px;
}

.product-card-image {
  width: 300px;
  height: 212px;
  padding: 20px 20px 0 20px;
  margin-bottom: 16px;
}

.product-card-hotel {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  padding: 0 20px;
  margin-bottom: 16px;
}

.product-card-button-details {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  padding: 8px 26px;
  margin-left: 20px;
  margin-bottom: 16px;
}

.product-card-button-favorites {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-align: center;
  cursor: pointer;
  padding: 8px 26px;
}

.button-active {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #7DB54F;
  text-align: center;
}

.rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
  text-align: center;
}

/* Стилизация пагинации */
.pagination {
  margin: 0 70px;
  list-style: none;
  display: flex;
  margin-bottom: 156px;
}

.pagination-item:not(:last-child) {
  margin: 0;
  width: 60px;
  height: 60px;
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 11px 23px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-decoration: none;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.ellipsis {
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
}

/* Блок подписки на рассылку */
.catalog-subscribe {
  margin: 0 auto;
  padding: 0;
}

.catalog-subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 20px;
}

.catalog-hotels-find-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  padding: 0 362px;
  margin-bottom: 54px;
}


.catalog-subscribe-block {
  display: block;
  margin: 0 auto;
  margin-bottom: 104px;
}

.catalog-subscribe-button {
  width: 232;
  height: 52px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  cursor: pointer;
  padding: 8px 50px;
}

.catalog-subscribe-field {
  width: 452px;
  height: 52px;
}
